body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

@-ms-viewport{
    width: device-width;
  }

@media all and (min-width:768px) and (min-height:480px) {
    body {
        margin: 0 40px
    }
}

.full-page {
    padding-bottom: 2.5em;
}

.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    padding: 1em;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    top: 0;
    right: 0;
    z-index: 2;
}

.topnav a {
    float: right;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: #2B2B2B;
    padding: 5px;
    font-weight: 700;
}

.topnav a:hover {
    color: #EDD861;
}

.topnav a.active {
    color: #EDD861;
}

.anchor{
    display: block;
    height: 35px; /*same height as header*/
    margin-top: -35px; /*same height as header*/
    visibility: hidden;
  }
.home {
    background-color: #EDD861;
    margin: 0;
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1, h3 {
    color: #FFFFFF;
    margin: 0;
}

.home h3{
    font-style: italic;
}

.home h1 {
    font-weight: 900;
}
 
.about {
    background-color: #FFFFFF;
    min-height: 95vh;
    padding-bottom: 2.5em;
}

.subheader {
    display: flex;
    flex-flow: row nowrap;
    padding: 2.5em 1em;
}

.subheader img {
    flex: 1 1 auto;
}

.subheader h4 {
    text-align: center;
    color: #2B2B2B;
    font-weight: bold;
    padding: 0 2em;
}

@media (max-width: 960px) {
    .subheader {
        display: block;
        text-align: center;
        padding: 1em;
        margin: 0;
     }
     .subheader h4 {
         padding: 2em;
         margin: 0;
     }
     .subheader img {
         opacity: 0;
         padding: 0;
         margin: 0;
     } */
}

.about-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.taipei {
    display: inline-flex;
    width: 280px;
    height: 150px;
    justify-content: start;
    align-items: center;
}

.taipei img {
    width: 88px;
    height: 126px;
    margin-right: 45px;
}

.beijing {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 280px;
    height: 380px;
    margin: 40px 20px;
}

.beijing p {
    grid-area: 1 / 1 / 5 / 5;
    width: 200px; 
    z-index: 1;
}

.beijing img {
    grid-area: 6 / 3 / 9 / 7 ;
}

.shanghai {
    display: flex;
    flex-flow: column nowrap;
    width: 280px;
    height: 420px;
    margin: 40px 20px;
}

.shanghai p {
    width: 280px;
}

.shanghai img {
    width: 280px;
}

.melbourne {
    display: flex;
    flex-flow: column nowrap;
    width: 280px;
    height: 360px;
    margin: 40px 20px;
    align-items: center;

}

.skills {
    background-color: #4BAAAA;
}

.skills-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1em 0;
}

@media (min-width: 720px) {
    .skills-main {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
     }
}

@media (min-width: 960px) {
    .skills-main {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
     }
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

}
.experiences {
    background-color: #FFFFFF;
}

.experiences-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 30px;
    max-width: 1000px;
    margin: auto;
    justify-items: center;
}

.experience {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 1fr;
}

@media all and (max-width: 768px) {
    .experiences-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 30px;
        margin: auto;
    }
    
    .experience {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        max-width: 480px;
        margin: auto;
        text-align: center;
    }
    .experience_logo {
        margin: auto;
    }
    
}

@media all and (max-width: 480px) {
    .experience {
        max-width: 300px;
        grid-template-rows: 1fr 1fr 2fr;
    }
}

.location_icon {
    float: left;
}


/* @media (min-width: 960px) {
    .experiences-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-gap: 30px;
        max-width: 1000px;
        margin: auto;
    }
    .experience {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr 2fr;    */

.contacts {
    background-color: #EDD861;
}

.contacts-main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.contact img {
   

}

